{% block content %}
<div class="box_c"><div class="box_t">Job List:</div><div class="st_boxes">
	<table class="table"><tr><td>ID</td><td>NAME</td><td>Path</td><td>Interval</td><td>Last Run</td><td>Status</td></tr>
    {% for item in jItems %}

			<tr><td>{{ item.id }}</td><td>{{ item.name }}</td><td>{{ item.path }}</td><td>{{ item.interval }}</td><td>{{ item.last_run|date("m/d/Y H:i:s") }}</td><td>{{ item.status_int }}</td></tr>
		
    {% else %}  
        <p>There are currently no jobs configured.</p>
    {% endfor %}
	</table></div></div>
{% endblock %}