<!--
Author: Drew D. Lenhart
Author URI: http://www.drewlenhart.com
-->
<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>st-php-schedule - snowytech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
</head> 
<body>

<div class="main_container">

<h2>st-php-schedule</h2>
<a class="btn btn-default btn-xs" alt="Add new Job" href="#" role="button">New Job</a></td>
<div class="container-fluid">
{% block content %} {% endblock %}
<div class="footer">
    <div><p class="footertxt">© 2016 - snowytech - drew.d.lenhart</p></div>
</div>
</div>
</div>
</body>

<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</html>