/*

*/

body {
	background-color: black !important;
	color: green !important;
}

td{
	padding: 5px !important;
}

.main_container{
	margin-left: 4%;
	margin-right: 4%;
}
.compImg {
    max-width:100%
}

.st_boxes{
	background-color: black;
	padding: 5px;
}

.box_t{
	background-color: green;
	color: black;
	font-size: 18px;
}

.box_c{

	border: 2px solid green;
	margin-top: 2%;
	
}

.footertxt{
	margin-top: 2%
}
